
# rename file to state_override.tf

terraform {
  backend "http" {
    update_method = "PUT"
    address = "<your-preauth-url-here>"
  }
}

data "terraform_remote_state" "ha-mysql-innodb-cluster" {
  backend = "http"
  config = {
    address = "<your-preauth-url-here>"
  }
}
